/*color variables*/

:root {
--first-color: #003459; 
--second-color: #028090; 
--third-color: #02c39a; 
--fourth-color: #fce38a; 
}

body {
    background-color: var(--first-color);
    font-family: 'Exo 2', serif;
    color: var(--fourth-color);
    margin: 0;
    padding: 0;
}

#calc-body {
    display: grid;
    width: 97vw;
    height: 98vh;
    margin: 1vh auto;
    border-radius: 2rem;
    background-color: var(--second-color);
}